<table border="1">
	<tr>
		<th class="noContent">NO</th>
		<th class="nameContent">商品名</th>
		<th>値段</th>
		<th>個数</th>
		<th>小計</th>
		<th th:if="${not #lists.isEmpty(@cart.items)}"></th>
	</tr>
	<tr th:each="item:${@cart.items}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}+'円'"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + '円'"></td>
		<td>
			<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button>削除</button>
			</form>
		</td>
	</tr>
	<tr>
		<td align="right"th:colspan="${@cart.totalPrice == 0 ? 5 : 6}" th:text="'総計：' + ${@cart.totalPrice == 0 ? '0円' : #numbers.formatInteger(@cart.totalPrice, 3, 'COMMA') + '円'}" class="price-td"></td>
		<!--　colspan、セルの結合数。+ ${@cart.totalPrice == 0 ? '0円'、ｃart.totalPriceが０なら０円と表示させる機能  #numbers.formatInteger(@cart.totalPrice, 3, 'COMMA')、数字の表示フォーマット指定　３桁目でカンマをつけましょうっていう設定 -->
		<!--th:colspan="${@cart.totalPrice == 0 ? 5 : 6} totalpriceが0円なら５つで結合　それ以外なら6つで結合　削除ボタンはカートにアイテムがないと表示されないため　つまりtotalpriceが０円だったら削除ボタンはでないようにしないといけない-->
	</tr>
</table>