<table border="1">
	<tr>
		<th class="noContent">NO</th>
		<th class="nameContent">商品名</th>
		<th>値段</th>
		<th>個数</th>
		<th>小計</th>
		<th th:if="${not #lists.isEmpty(@cart.items)}"></th>
	</tr>
	<tr th:each="item:${@cart.items}">
		<td th:text="${item.id}"></td>
		<td th:text="${item.name}"></td>
		<td th:text="${item.price}+'円'"></td>
		<td th:text="${item.quantity}"></td>
		<td th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + '円'"></td>
		<td>
			<form action="/cart/delete" method="post">
				<input type="hidden" name="itemId" th:value="${item.id}">
				<button>削除</button>
			</form>
		</td>
	</tr>
	<tr>
		<td align="right" colspan="6" th:text="'総計：' + ${#numbers.formatInteger(@cart.totalPrice, 3, 'COMMA')} + '円'"></td>
	</tr>
</table>