<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CustomerInfo</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	
	<main>
		<div>
			<h3 id="sub-text">ご注文商品</h3>
		</div>

		<span th:replace="cartItem"></span>
	<div style="margin-top: 2%;">
		<h3 id="sub-text">お客様情報を入力</h3>
	</div>

		<form action="/order/confirm" method="post">
			<table border="1" class="customerForm">
				<tr>
					<th>お名前</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<input type="text" name="address">
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>
						<input type="text" name="tel">
					</td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
			</table>
			<button class="underButton">確認画面へ</button>
		</form>
	</main>


</body>
</html>