<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CustomerInfo</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	<hr>
	<main>
		<h3>ご注文商品</h3>
		<span th:replace="cartItem"></span>
		<hr>
		<h3>お客様情報を入力してください</h3>
		<form action="/order/confirm" method="post">
			<table border="1">
				<tr>
					<th>お名前</th>
					<td>
						<input type="text" name="name">
					</td>
				</tr>
				<tr>
					<th>住所</th>
					<td>
						<input type="text" name="address">
					</td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td>
						<input type="text" name="tel">
					</td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td>
						<input type="text" name="email">
					</td>
				</tr>
			</table>
			<button>確認画面へ</button>
		</form>
	</main>
	<hr>

</body>
</html>