<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品一覧</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="items">
	<header th:replace="header"></header>
	
	<nav>
		<div>
			<a href="/items">全商品</a>
			<a th:each="category:${categories}"
			   th:href="@{/items(categoryId=${category.id})}"
			   th:text="${category.name}"
			   style="margin-right: 5px;"></a>
		</div>

		<div>
			<a href="/cart" style="padding-left: 10px;">カートを見る</a>
		</div>

	</nav>
	
	<main>
		<table>
			<tr>
				<th class="noContent">NO</th>
				<th class="nameContent">商品名</th>
				<th class="priceContent">値段</th>
				<th class=""></th>
			</tr>
			<tr th:each="item:${items}" >
				<td  th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + '円'"></td>
				<td >
					<form action="/cart/add" method="post">
						<input type="hidden" name="itemId" 
						       th:value="${item.id}">
						<button>カートに追加</button>
					</form>
				</td>
			</tr>
		</table>
	</main>
	

</body>
</html>