<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Confirmation</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header th:replace="header"></header>
	
	
	<main>
		<div>
			<h3 id="sub-text">ご注文商品</h3>
		</div>

		<span th:replace="cartItem"></span>
		
		<div style="margin-top: 2%;">
			<h3 id="sub-text">お客様情報確認</h3>
		</div>

		<form action="/order" method="post" class="orderConfirmContent">
			<table border="1">
				<tr>
					<th>お名前</th>
					<td th:text="${customer.name}"></td>
				</tr>
				<tr>
					<th>住所</th>
					<td th:text="${customer.address}"></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td th:text="${customer.tel}"></td>
				</tr>
				<tr>
					<th>e-mail</th>
					<td th:text="${customer.email}"></td>
				</tr>
			</table>
			<input type="hidden" name="name" th:value="${customer.name}">
			<input type="hidden" name="address" th:value="${customer.address}">
			<input type="hidden" name="tel" th:value="${customer.tel}">
			<input type="hidden" name="email" th:value="${customer.email}">
			<button class="underButton">この内容で注文</button>
		</form>
	</main>

</body>
</html>